/******************** MAIN CSS *************************/

/*******************************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

.profile-pic {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.name {
    font-family: 'Muli', sans-serif;
    color: rgb(54, 54, 54);
    font-weight: bold;
}

.about {
    color: rgb(80, 80, 80);
    font-family: 'Exo', sans-serif;
    font-weight: normal;
}

.project-card-head,
.skill-card-head {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-align: center;
}

.project-box,
.skill-box {
    width: 300px;
}

.project-pic,
.skill-pic {
    width: 100%;
    border-radius: 4px;
}

.project-name,
.skill-name {
    text-align: center;
    font-size: 150%;
    font-family: 'Exo', sans-serif;
    color: rgb(34, 32, 32);
    font-weight: normal;
}

.project-link {
    text-decoration: none;
}

.project-box:hover,
.skill-box:hover {
    box-shadow: 0px 2px 20px 0px rgba(40, 87, 2, 0.75);
}

.project-box:active,
.skill-box:active {
    box-shadow: 0px 2px 6px 0px rgba(87, 2, 9, 0.75);
}

/* customization of font awesome contact icons*/

.github {
    color: #800080;
}

.linkedin {
    color: #0077b5;
}

.twitter {
    color: #1da1f3;
}

.google {
    color: #dc4538;
}

.facebook {
    color: #3b5998;
}

/*footer section */

.footer {
    background-color: rgb(77, 77, 77);
    padding: 10px;
}

.footer-note {
    color: white;
    font-family: 'Exo', sans-serif;
    text-align: center;
    line-height: 1.25em;
}

/*to give an element a card look */

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

/*to align an element at the center*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/************* CSS FOR RESPONSIVE DESIGN **************/

/******************************************************/

/* Responsive design for mobile sized device screens- */

@media screen and (max-width:500px) {
    .profile,
    .contact,
    .project,
    .skill {
        margin: 10px;
    }
    .profile {
        margin-top: 100px;
    }
    .profile-pic {
        margin-top: -80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .name {
        margin-top: -90px;
        text-align: center;
    }
    .about {
        margin-top: -20px;
        padding: 2px;
        font-size: 16px;
        text-align: center;
        line-height: 1.25em;
    }
    .contact-link {
        text-decoration: unset;
    }
    .contact-logo-holder {
        margin-left: 7%;
    }
    .contact-logo {
        padding: 6px;
        margin-left: auto;
    }
    .project-box,
    .skill-box {
        width: 90%;
        margin: 20px auto;
        background-color: rgb(208, 250, 234);
    }
    .project-pic,
    .skill-pic {
        width: 100%;
        border-radius: 4px;
    }
    .project-name,
    .skill-name {
        text-align: center;
        font-size: 150%;
        font-family: 'Exo', sans-serif;
        color: rgb(34, 32, 32);
        font-weight: normal;
    }
}

/* Responsive design for tablet devices */

@media screen and (min-width: 501px) and (max-width: 1024px) {}

/* Responsive design for laptop and big screens */

@media screen and (min-width:1025px) {}